html { 
   font-size: 10px;
   font-family: Roboto;
   background-color: #FFFFFF;
}


p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 1000px;
  
  background-color: #FFFFFF;
  padding: 0 20px 20px 20px;
 
}

h1 {
  font-size: 50px;
  text-align: center;
  margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}
